<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--Local-->
    <!--<add name="WebApplication" connectionString="Data Source=V2SIS52W10\MSSQLSERVER2012;Initial Catalog=SomosAmbient;Integrated Security=True" providerName="System.Data.SqlClient" />tcp:somossmbientdb.database.windows.net,1433-->

    <!--Azure-->
    <!--<add name="WebApplication" connectionString="data source=tcp:somossmbientdb.database.windows.net,1433;initial catalog=SomosAmbient;persist security info=True;user id=diegostrevezza;password=SenGdo17;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
 <!--<add name="WebApplication" connectionString="Server=(localdb)\MSSQLLocalDB;initial catalog=SomosAmbient;Integrated Security=true;Trusted_Connection=True" providerName="System.Data.SqlClient" />-->
<!--<add name="WebApplication" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SomosAmbient;Integrated Security=SSPI;Min Pool Size=5;Max Pool Size=60;Connect Timeout=30" providerName="System.Data.SqlClient" />-->	  
<add name="WebApplication" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Ambient_GROUP;Integrated Security=SSPI;Min Pool Size=5;Max Pool Size=60;Connect Timeout=30" providerName="System.Data.SqlClient" />	  
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
</configuration>

