@keyframes cancelar {
    from {
        background-color: black;
    }
    to {
        background-color: red;
    }
}

@keyframes submit {
    from {
        background-color: black;
    }

    to {
        background-color: green;
    }
}

#divCantidad #divPeso{
    justify-content: space-around;
}

.inputStock{
    width:auto;
}
/*#divGrid {
    display: flex;
    justify-content: center;
}
#grdRecetas{
    margin-left:0 !important;
}*/
.btnblack{
    background-color: black !important;
    color: white !important;
}
    .btnblack:hover {
        /*box-shadow: 1px 1px 10px 2px black;*/
        background-color: #313131 !important;
    }
.btnsubmit {
    background-color: black !important;
    color: white !important;
    transition: background-color 0.5s , transform 0.5s;
    margin-left: 20px !important;
    border-radius:2px;
}

    .btnsubmit:hover {
        background-color: green !important;
        transform: scale(1.1) !important;
    }
.btncancel {
    background-color: black !important;
    color: white !important;
    transition: background-color 0.5s,transform 0.5s;
    border-radius: 2px;
}

    .btncancel:hover {
        background-color: #e40a0a !important;
        transform: scale(1.1) !important;
    }
#divGrid {
    padding-left: 15% !important;
}
.form-control:focus {
    border-color: black !important;
    box-shadow: 0 0 7px 1px black !important;
}
.btn:focus{
    box-shadow:none;
}
.sidebar{
    box-shadow: 0 0 7px 1px black !important;
}
.customCheck {
    width: 20px !important;
    height: 20px !important;
    color: black !important;
}